*{
    margin:0;
    padding: 0;
}
body{
    /* background-color: #548687; */
    background-image: url("neon.jpg");
    text-align: center;
}
.game-container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-board{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap:1.5vmin;
}
.game-box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.3);
    font-size: 8vmin;
    color: #341258;
    background-color: white;
}
#restart-btn, #new-game-btn{
padding: 1rem;
font-size: 1.25rem;
background-color: #191913;
color:white;
border-radius: 1rem;
border:none;
}
#game-message{
    color:white;
    font-size: 5vmin;
}
.message-container{
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
.title{
    text-shadow: 2px 2px #681780;
    color: white;
}

#restart-btn {
    border-radius: 15px;
    background-color: #681780;
    border: none;
    /* box-shadow:  15rem 5rem 5rem #681780; */
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #restart-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #restart-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #restart-btn span {
    padding-right: 20px;
  }
  
  #restart-btn:hover span:after {
    opacity: 1;
    right: 0;
  }